<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmployeeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNewUser</display-name>
    <servlet-name>AddNewUser</servlet-name>
    <servlet-class>com.sanjiv.servlets.AddNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUser</servlet-name>
    <url-pattern>/AddNewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.sanjiv.servlets.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalUpdate</display-name>
    <servlet-name>SalUpdate</servlet-name>
    <servlet-class>com.sanjiv.servlets.SalUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalUpdate</servlet-name>
    <url-pattern>/SalUpdate</url-pattern>
  </servlet-mapping>
</web-app>